<section class="navbar-head">
        <nav class="navbar navbar-expand-md navbar-light py-3">
            <div class="container">
                <a href="/dashboard" class="navbar-brand" style="text-decoration: none;"><img src="/images/001.png" alt="" srcset="" width="7%" class="px-2">Naari Saarthi</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
                        <li class="nav-item text-center" style="width: 80px;"><a href="/e-corner" class="nav-link">E-Corner</a></li>
                        <li class="nav-item" style="width: 100px"><a href="/seller-zone" class="nav-link">Seller Zone</a></li>
                        <li class="nav-item"><a href="/sectors" class="nav-link">Sectors</a></li>
                        <li class="nav-item"><a href="/users/logout" class="nav-link">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

<section class="dash-hero-area" style="height:100vh">
        <div class="container text-center">
            <div class="overlay">
                <div class="row w-100 justify-content-center p-4">
                    <div class="col-md-3 align-self-center">
                        </div>
                    <div class="col-md-6 align-self-center pl-5" data-aos="fade-up"> 
                        <img class="profile pt-5 mt-4" src="/images/Profile.PNG" alt="" srcset="" width="45%">
                        <h3 class=" display-3 font-weight-bold" style="margin-top: -40px;">Welcome <%= name %></h3>
                        <p class="lead font-weight-normal" style="font-size: 20px;">Your Level</p>
                        <div class="level"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                        <div class="arrow-down py-4"><i class="fas fa-chevron-down fa-2x"></i></div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="my-5">&nbsp;</div>
                </div>
            </div>
        </div>
    </section>

<section class="job-avail mb-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                </div>
            </div>
        </div>
        <div class="img-cen text-center">
        <img src="/images/jobs1.png" alt="" class="img-fluid" width="50%">
         <p class="h3 font-weight-bold">Jobs Availiable</p>   
         <hr class="w-25">
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                        <div class="container">
                            <div class="row d-flex">
                                <div class="col-md-3">
                                    <div class="card" style="width: 16rem;">
                                        <img src="/images/hero.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Job</h5>
                                            <p class="card-text">Some quick example text to build on the Job and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">More Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card" style="width: 16rem;">
                                        <img src="/images/hero.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Job</h5>
                                            <p class="card-text">Some quick example text to build on the Job and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">More Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card" style="width: 16rem;">
                                        <img src="/images/hero.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Job</h5>
                                            <p class="card-text">Some quick example text to build on the Job and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">More Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card" style="width: 16rem;">
                                        <img src="/images/hero.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Job</h5>
                                            <p class="card-text">Some quick example text to build on the Job and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">More Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="carousel-item">
                        <div class="container">
                                <div class="row">
                                        <div class="col-md-3">
                                            <div class="card" style="width: 16rem;">
                                                <img src="/images/hero.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Job</h5>
                                                    <p class="card-text">Some quick example text to build on the Job and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">More Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card" style="width: 16rem;">
                                                <img src="/images/hero.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Job</h5>
                                                    <p class="card-text">Some quick example text to build on the Job and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">More Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card" style="width: 16rem;">
                                                <img src="/images/hero.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Job</h5>
                                                    <p class="card-text">Some quick example text to build on the Job and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">More Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card" style="width: 16rem;">
                                                <img src="/images/hero.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Job</h5>
                                                    <p class="card-text">Some quick example text to build on the Job and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">More Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
</section>
<section class="recom my-4 py-5">
    <div class="container py-4">
        <div class="row w-100 text-center">
                <div class="col-md-6">
                        <p class="h3 font-weight-bold py-3">Job Employed And Status</p>
                        <div class="job1-dum p-2 m-1 text-left border rounded">
                            <p class="h5 font-weight-normal">Job1</p>
                            <p class="lead font-weight-normal">Status:<b>Ongoing</b></p>
                            <div class="prog-head">
                                    <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </div>
                        </div>
                        <div class="job1-dum p-2 m-1 text-left border rounded">
                                <p class="h5 font-weight-normal">Job1</p>
                                <p class="lead font-weight-normal">Status:<b>Ongoing</b></p>
                                <div class="prog-head">
                                        <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                </div>
                            </div>
                    </div>        
            <div class="rj col-md-6">
                <div class="recom-head">
                    <p class="h3 font-weight-bold py-3 mt-1">Recommended Jobs</p>
                    <ul class="list-group p-2" style="color: black;">
                            <li class="list-group-item my-2">Notices And Updates Coming Soon</li>
                            <li class="list-group-item my-2">Notices And Updates Coming Soon</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="train-cert py-4 my-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/training.png" alt="" class="img-fluid" width="50%">
                <p class="h2 font-weight-bold pb-4 pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Trainings Completed</p>
                <div class="row py-3">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 border border-danger rounded p-1 mr-1">
                        <span><i class="fas fa-trophy fa-2x rounded-circle"></i></span>
                        <p class="lead font-weight-normal" style="margin-bottom: 0px;">Training 1</p>
                        <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                    </div>
                    
                    <div class="col-lg-5  border border-danger rounded p-1">
                        <span><i class="fas fa-trophy fa-2x rounded-circle"></i></span>
                        <p class="lead font-weight-normal" style="margin-bottom: 0px;">Training 1</p>
                        <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row py-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 border border-danger rounded p-1 mr-1">
                            <span><i class="fas fa-trophy fa-2x rounded-circle"></i></span>
                            <p class="lead font-weight-normal" style="margin-bottom: 0px;">Training 1</p>
                            <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                        </div>
                        
                        <div class="col-lg-5  border border-danger rounded p-1">
                            <span><i class="fas fa-trophy fa-2x rounded-circle"></i></span>
                            <p class="lead font-weight-normal" style="margin-bottom: 0px;">Training 1</p>
                            <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row py-3">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 border border-danger rounded p-1 mr-1">
                                <span><i class="fas fa-trophy fa-2x rounded-circle"></i></span>
                                <p class="lead font-weight-normal" style="margin-bottom: 0px;">Training 1</p>
                                <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                            </div>
                            
                            <div class="col-lg-5  border border-danger rounded p-1">
                                <span><i class="fas fa-trophy fa-2x rounded-circle"></i></span>
                                <p class="lead font-weight-normal" style="margin-bottom: 0px;">Training 1</p>
                                <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>   
                    
                <p class="h2 font-weight-normal pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 15px;">For More Trainings!</p>
                    <button class="btn btn-danger rounded w-25"><a href="#" style="text-decoration: none; color: white;"> Click Here </a></button>                          
                </div>                     
            <div class="cert col-md-6 border">
                <img src="/images/certificate.png" alt="" class="img-fluid pt-2" width="35%">
                <p class="h2 font-weight-bold pb-4 pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Certifications Completed</p>
                <div class="container">
                    <div class="row pt-4">
                        <div class="col-12">
                            <div class="card-cert p-1 border rounded">
                                    <span><img src="/images/certificate (2).png" alt="" width="10%"></span>
                                    <span><p class="lead font-weight-normal" style="margin-bottom: 0px;">Certified For Training 1</p>
                                        <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                                    </span>
                            </div>
                        </div>
                        <div class="col-12">
                                <div class="card-cert p-1 border rounded">
                                        <span><img src="/images/certificate (2).png" alt="" width="10%"></span>
                                        <span><p class="lead font-weight-normal" style="margin-bottom: 0px;">Certified For Training 1</p>
                                            <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                                        </span>
                                </div>
                            </div>
                            <div class="col-12">
                                    <div class="card-cert p-1 border rounded">
                                            <span><img src="/images/certificate (2).png" alt="" width="10%"></span>
                                            <span><p class="lead font-weight-normal" style="margin-bottom: 0px;">Certified For Training 1</p>
                                                <p class="lead" style="font-size: 15px;">Completion Date:<b>25 June 2018</b></p>
                                            </span>
                                    </div>
                                </div>
                    </div>
                </div>
                <p class="h2 font-weight-normal pt-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 15px;">For More Certifications!</p>
                <button class="btn rounded w-25 mb-3 bg-light"><a href="#" style="text-decoration: none; color: tomato;"> Click Here </a></button>                          
           
            </div>
        </div>
    </div>
</section>
<section class="uploads text-center py-5" id="uploads">
    <p class="h2 font-weight-bold pb-4 pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Upload Preferences</p>
    <hr class="hr w-50" style="color: tomato; background: tomato;">
    <div class="container my-3">
        <div class="row p-5 upload-row d-none">
                <div class="col">
                    <p class="h4 font-weight-bold pb-4 pt-2 upload-text" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Upload Your Video Here</p>
                    <div><input type="file" />
                    </div>
                    <button class="btn rounded w-25 m-3 bg-light"><a href="#" style="text-decoration: none; color: tomato;">Submit</a></button>
                </div>
            </div>
            <div class="row p-5 blog-upload-row d-none">
                    <div class="col">
                        <p class="h4 font-weight-bold pb-4 pt-2 upload-text" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Upload Your blog Here</p>
                        <div class="row py-3">
                            <div class="col-md-5 text-right">
                                <p class="h4 font-weight-normal">Blog Title</p>
                                
                            </div>
                            <div class="col-md-7 text-left">
                                <input type="text" size="40" min="40">
                            </div>
                        </div>
                            
                        <div class="row pb-3">
                            <div class="col-md-5 text-right">
                                    <p class="h4 font-weight-normal">Content</p></div>
                            <div class="col-md-7 text-left">
                                    <textarea rows="2" cols="40"></textarea>
                            </div>        
                        </div>
                        <button class="btn rounded w-25 m-3 bg-light"><a href="#" style="text-decoration: none; color: tomato;">Submit</a></button>
                    </div>
                </div>
        <div class="row p-5">
            <div class="col-md-3">
                <button class="btn btn-primary w-100 rounded" onclick="video()">Video</button>
            </div>
            <div class="col-md-3"><button class="btn btn-warning w-100 rounded" onclick="picture()">Pictures</button></div>
            <div class="col-md-3"><button class="btn btn-danger w-100 rounded" onclick="blog()">Blog</button></div>
            <div class="col-md-3"><button class="btn btn-success w-100 rounded" onclick="tvideo()">Training Video</button></div>
        </div>
    </div>
</section>

<section class="vfs my-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-6 text-right">
                <img src="/images/heartbreak.png" alt="" class="img-fluid" width="80%">
            </div>
            <div class="col-6 text-left align-self-center">
                    <div class="vfs-cau row">
                            <div class="col-md-12">
                                    <p class="h2 font-weight-bold pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Having Issues?</p>
                                    <p class="lead">Schedule Your Vfs Meeting Now!</p>
                            </div>
                            <div class="col-md-12">
                                    <button class="btn btn-danger w-25 rounded" onclick="vfs()">Click Here</button>
                            </div>
                        </div>
                        <div class="row vfs-check d-none">
                            <div class="col">
                                    <p class="h2 font-weight-bold pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Are you Sure</p>
                                    <div class="cont"><span class="mx-2"><input type="checkbox" value="Yes"><p class="lead d-inline">Yes</p></span>
                                    <span class="mx-2"><input type="checkbox" value="No"><p class="lead d-inline">No</p></span>
                                </div>
                                    <button class="btn btn-danger w-25 rounded mt-2" onclick="vfs_submit()">Click Here</button>
                                </div>
                        </div>
                        <div class="row vfs-sure d-none">
                            <div class="col">
                                    <p class="h2 font-weight-bold pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">VFS is Scheduled</p>
                                    <p class="lead">We Will Contact You Soon</p>
                            </div>
                        </div>
            </div>
        </div>
        
    </div>
</section>