<section class="navbar-head">
    <nav class="navbar navbar-expand-md navbar-light py-3">
        <div class="container">
            <a href="/dashboard" class="navbar-brand" style="text-decoration: none;"><img src="/images/001.png" alt="" srcset="" width="7%" class="px-2">Naari Saarthi</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
                    <li class="nav-item text-center" style="width: 80px;"><a href="/e-corner" class="nav-link">E-Corner</a></li>
                    <li class="nav-item" style="width: 100px"><a href="/seller-zone" class="nav-link">Seller Zone</a></li>
                    <li class="nav-item"><a href="/sectors" class="nav-link">Sectors</a></li>
                    
                    <li class="nav-item"><a href="/users/logout" class="nav-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>

    <section class="dash-hero-area" style="height: 100vh;">
            <div class="container text-center">
                <div class="overlay">
                    <div class="row w-100 justify-content-center p-4">
                        <div class="col-md-3 align-self-center">
                            </div>
                        <div class="col-md-6 align-self-center pl-5" data-aos="fade-up"> 
                            <img class="profile pt-5 mt-4" src="/images/Profile.PNG" alt="" srcset="" width="45%">
                            <h3 class=" display-4 font-weight-bold" style="margin-top: -40px;">Welcome To E-Corner</h3>
                            <p class="lead">Share Your Ideas</p>
                            <p class="lead font-weight-normal" style="font-size: 20px;">Your Level</p>
                            <div class="level"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="arrow-down py-4"><i class="fas fa-chevron-down fa-2x"></i></div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="py-5"></div>
                    </div>
                </div>
            </div>
        </section>


<section class="justify-content-center row mt-5">

        <div class="col-sm-12 text-center ">
            <h3 style="letter-spacing: 2px;">

                Available Agents

            </h3>
            <hr width="40%">
        </div>

        <div class="row col-sm-12 justify-content-center container ">

            <div id="carouselcontrol" class="carousel slide container" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active text-white">
                        <div class="row justify-content-center">
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item text-white">
                        <div class="row justify-content-center">
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item text-white">
                        <div class="row justify-content-center">
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-4 col-sm-12 mx-2 bg-dark">
                                <img class="card-img-top mt-1" src="/images/agent.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Agent 47</h6>
                                    <p class="card-text" style="font-size: 10px;">Details about the Agent</p>
                                    <a href="#" class="btn text-white btn-small "
                                        style="background: rgb(255, 77, 89); font-size: 12px;">Contact</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselcontrol" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
                    <span class="sr-only ">Previous</span>
                    <!-- ?prev -->
                </a>
                <a class="carousel-control-next" href="#carouselcontrol" role="button" data-slide="next">
                    <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
                    <span class="sr-only text-black">Next</span>
                </a>
            </div>
            <div class="col-sm-12 row justify-content-center mt-5 bg-dark" id="funcdiv">
                <div id="ShareYourIdea" class="col-md-8 my-5 text-center d-none">
                    <h5>
                        Share Your Idea
                    </h5>
                    <form>
                        <textarea  name="idea" id="ideaText" rows="4"></textarea><br>
                    </form>
                    <button class="btn btn-info my-2" onclick="ideashare()">Submit</button>
                    <button class="btn btn-light  my-2" onclick="back()">Back</button>
                </div>
                <div id="NearbySHG" class="col-md-8 my-5 justify-content-center row d-none ">
                    <h5 class="col-5 text-white text-center">
                        Nearby SHG
                    </h5>
                    <div class="col-sm-12">

                        <iframe width="100%" height="250" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCZB0Xb0NHCfdEi8DpZGImUTHT80c9UpBk&q=nearby+self+help+group"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <button class="btn btn-light my-3" onclick="back()">Back</button>

                </div>
                <div id="NearbyMF" class="col-md-8 my-5 text-center  justify-content-center row d-none">
                    <h5 class="col-5 text-white text-center">
                        Nearby Micro Finance
                    </h5>
                    <div class="col-sm-12">

                        <iframe width="100%" height="250" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCZB0Xb0NHCfdEi8DpZGImUTHT80c9UpBk&q=nearby+micro+finance"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <button class="btn btn-light my-3" onclick="back()">Back</button>
                </div>
                <div id="NearbyINV" class="col-md-8 my-5 text-center justify-content-center row d-none">
                    <h5 class="col-5 text-white text-center">
                        Nearby Investors
                    </h5>
                    <div class="col-sm-12">

                        <iframe width="100%" height="250" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCZB0Xb0NHCfdEi8DpZGImUTHT80c9UpBk&q=nearby+investors"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <button class="btn btn-light my-3" onclick="back()">Back</button>

                </div>
                <div id="NearbyBNK" class="col-md-8 my-5 text-center justify-content-center row d-none">
                    <h5 class="col-5 text-white text-center">
                        Nearby Banks
                    </h5>
                    <div class="col-sm-12">

                        <iframe width="100%" height="250" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCZB0Xb0NHCfdEi8DpZGImUTHT80c9UpBk&q=nearby+banks"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <button class="btn btn-light my-3" onclick="back()">Back</button>
                </div>




                <div class="col-sm-12 row justify-content-center " id="buttonArea">
                    <div class="col-md-2 col-sm-6 my-5 row justify-content-center">
                        <button class="btn col-10 orange-background text-white" id="btn1"
                            onclick="shareIdea()">Share<br>
                            your Idea</button>

                    </div>
                    <div class="col-md-2 my-5 row col-sm-6 justify-content-center">
                        <button class="btn  col-10 orange-background text-white" id="btn2"
                            style="vertical-align: center;" onclick="nearbySHG()">Nearby<br> SHG </button>
                    </div>
                    <div class="col-md-2 row my-5 col-sm-6 justify-content-center ">
                        <button class="btn col-10 orange-background text-white" id="btn3"
                            onclick="nearbyMicroFin()">Nearby<br>
                            Micro
                            Finance</button>
                    </div>
                    <div class="col-md-2 my-5 row col-sm-6 justify-content-center">
                        <button class="btn orange-background col-10 text-white" style="vertical-align: center;"
                            id="btn4" onclick="nearbyInvestors()">Nearby<br> Investor</button>
                    </div>
                    <div class="col-md-2 my-5 row justify-content-center col-sm-6">
                        <button class="btn orange-background col-10 text-white" style="vertical-align: center;"
                            id="btn5" onclick="nearbyBanks()">Nearby<br> Banks </button>
                    </div>

                </div>


                <div class="col-12"></div>
                <div class="col-md-2 mb-5 col-sm-6">
                    <a class="btn  btn-warning col-12" style="vertical-align: center;" href=""> Post a new job</a>
                </div>
            </div>

        </div>
    </section>