<section class="navbar-head">
    <nav class="navbar navbar-expand-md navbar-light py-3">
        <div class="container">
            <a href="/dashboard" class="navbar-brand" style="text-decoration: none;"><img src="/images/001.png" alt="" srcset="" width="7%" class="px-2">Naari Saarthi</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
                    <li class="nav-item text-center" style="width: 80px;"><a href="/e-corner" class="nav-link">E-Corner</a></li>
                    <li class="nav-item" style="width: 100px"><a href="/seller-zone" class="nav-link">Seller Zone</a></li>
                    <li class="nav-item"><a href="/sectors" class="nav-link">Sectors</a></li>
                    
                    <li class="nav-item"><a href="/users/logout" class="nav-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>

    <section class="dash-hero-area" style="height: 100vh;">
            <div class="container text-center">
                <div class="overlay">
                    <div class="row w-100 justify-content-center p-4">
                        <div class="col-md-3 align-self-center">
                            </div>
                        <div class="col-md-6 align-self-center pl-5" data-aos="fade-up"> 
                            <img class="profile pt-5 mt-4" src="/images/Profile.PNG" alt="" srcset="" width="45%">
                            <h3 class=" display-4 font-weight-bold" style="margin-top: -40px;">Welcome to Sectors</h3>
                            <p class="lead">Work with passion</p>
                            <p class="lead font-weight-normal" style="font-size: 20px;">Your Level</p>
                            <div class="level"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="arrow-down py-4"><i class="fas fa-chevron-down fa-2x"></i></div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="py-5"></div>
                    </div>
                </div>
            </div>
        </section>


<section class="  pt-5 " style="background: #EEEEEE;">

        <div class="container">
                <div class="col-lg-12 ">
                        <h1 class="text-center text-danger">Sectors</h1>
                        <hr>
                    </div>
            <div class="row container">

                <div class="col-lg-4 col-sm-12 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/sector1.png" class="card-img " alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b> EDUCATION</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="/training">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/organicFarming.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>ORGANIC FARMING</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/Pottery.png" class="card-img" alt="..." width="100%">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b> POTTERY</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/handloom.png" class="card-img "
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>
                                        HANDLOOM
                                    </b></h5>


                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/Information_Technology.png" class="card-img py-3" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5">
                                    <b>
                                        INFORMATION TECHNOLOGY </b>

                                </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/jute.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title  mt-5"><b>JUTE</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/socialAdvance.png" class="card-img " alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title  mt-5"><b>SOCIAL SERVICES</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
               
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/Fashion.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>FASHION</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/governmentjobs.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>GOVERNMENT JOBS</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/cooking.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>COOKING</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/bakery.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>BAKERY</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/entreprenuership.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>ENTREPRENEURSHIP</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/broidery.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>EMBROIDERY</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/cotton.png" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>COTTON INDUSTRY</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12  col-lg-4 my-2">
                    <a href="#">

                        <div class="card col-sm-12 bg-dark text-white">
                            <img src="/images/salon.jpg" class="card-img" alt="..."
                                style="object-fit: cover;height: 200px;">
                            <div class="card-img-overlay text-center"
                                style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                                <h5 class="card-title mt-5"><b>SALON SERVICES</b> </h5>


                            </div>
                        </div>
                    </a>
                </div>



            </div>


        </div>
        <div class="row my-4 sector-orange-background py-5 px-4 justify-content-center ">

            <div class="col-lg-12  text-white ">
                <h1 class="text-center ">Sectors in Demand</h1>
                <hr>
            </div>
            <div class="col-lg-3 col-sm-12 my-2">
                <a href="#">

                    <div class="card col-sm-12 bg-dark text-white">
                        <img src="/images/sector1.png" class="card-img " alt="..."
                            style="object-fit: cover;height: 150px;">
                        <div class="card-img-overlay text-center"
                            style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                            <h5 class="card-title py-2 mt-2"><b> EDUCATION</b> </h5>

                            <div class="py-5">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 my-2">
                <a href="#">

                    <div class="card col-sm-12 bg-dark text-white">
                        <img src="/images/organicFarming.png" class="card-img " alt="..."
                            style="object-fit: cover;height: 150px;">
                        <div class="card-img-overlay text-center"
                            style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                            <h5 class="card-title py-2 mt-2"><b> ORGANIC FARMING</b> </h5>

                            <div class="py-5">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 my-2">
                <a href="#">

                    <div class="card col-sm-12 bg-dark text-white">
                        <img src="/images/Fashion.png" class="card-img " alt="..."
                            style="object-fit: cover;height: 150px;">
                        <div class="card-img-overlay text-center"
                            style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                            <h5 class="card-title py-2 mt-2"><b> FASHION</b> </h5>

                            <div class="py-5">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 my-2">
                <a href="#">

                    <div class="card col-sm-12 bg-dark text-white">
                        <img src="/images/handicraft.png" class="card-img " alt="..."
                            style="object-fit: cover;height: 150px;">
                        <div class="card-img-overlay text-center"
                            style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                            <h5 class="card-title py-2 mt-2"><b> HANDICRAFT</b> </h5>

                            <div class="py-5">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 my-2">
                <a href="#">

                    <div class="card col-sm-12 bg-dark text-white">
                        <img src="/images/Information_Technology.png" class="card-img " alt="..."
                            style="object-fit: cover;height: 150px;">
                        <div class="card-img-overlay text-center"
                            style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                            <h5 class="card-title py-2 mt-2"><b> INFORMATION TECHNOLOGY</b> </h5>

                            <div class="py-5">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 my-2">
                <a href="#">

                    <div class="card col-sm-12 bg-dark text-white">
                        <img src="/images/governmentjobs.png" class="card-img " alt="..."
                            style="object-fit: cover;height: 150px;">
                        <div class="card-img-overlay text-center"
                            style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                            <h5 class="card-title py-2 mt-2"><b> GOVERNMENT JOBS</b> </h5>

                            <div class="py-5">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 my-2">
                <a href="#">

                    <div class="card col-sm-12 bg-dark text-white">
                        <img src="/images/socialAdvance.png" class="card-img " alt="..."
                            style="object-fit: cover;height: 150px;">
                        <div class="card-img-overlay text-center"
                            style="background: linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.683));">
                            <h5 class="card-title py-2 mt-2"><b> SOCIAL SERVICES</b> </h5>

                            <div class="py-5">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>

    </section>