<section class="navbar-head">
    <nav class="navbar navbar-expand-md navbar-light py-3">
        <div class="container">
            <a href="/dashboard" class="navbar-brand" style="text-decoration: none;"><img src="/images/001.png" alt="" srcset="" width="7%" class="px-2">Naari Saarthi</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
                    <li class="nav-item text-center" style="width: 80px;"><a href="/e-corner" class="nav-link">E-Corner</a></li>
                    <li class="nav-item" style="width: 100px"><a href="/seller-zone" class="nav-link">Seller Zone</a></li>
                    <li class="nav-item"><a href="/sectors" class="nav-link">Sectors</a></li>
                    <li class="nav-item"><a href="/users/logout" class="nav-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
        
    <section class="dash-hero-area" style="height: 100vh;">
            <div class="container text-center">
                <div class="overlay">
                    <div class="row w-100 justify-content-center p-4">
                        <div class="col-md-3 align-self-center">
                            </div>
                        <div class="col-md-6 align-self-center pl-5" data-aos="fade-up"> 
                            <img class="profile pt-5 mt-4" src="/images/Profile.PNG" alt="" srcset="" width="45%">
                            <h3 class=" display-4 font-weight-bold" style="margin-top: -40px;">Welcome to Training Area</h3>
                            <p class="lead">Enhance Your Skills</p>
                            <p class="lead font-weight-normal" style="font-size: 20px;">Your Level</p>
                            <div class="level"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="arrow-down py-4"><i class="fas fa-chevron-down fa-2x"></i></div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="py-5"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vfs my-4 text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-6 text-right">
                            <img src="/images/heartbreak.png" alt="" class="img-fluid" width="80%">
                        </div>
                        <div class="col-6 text-left align-self-center">
                                <div class="vfs-cau row">
                                        <div class="col-md-12">
                                                <p class="h2 font-weight-bold pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Having Issues?</p>
                                                <p class="lead">Schedule Your Vfs Meeting Now!</p>
                                        </div>
                                        <div class="col-md-12">
                                                <button class="btn btn-danger w-25 rounded" onclick="vfs()">Click Here</button>
                                        </div>
                                    </div>
                                    <div class="row vfs-check d-none">
                                        <div class="col">
                                                <p class="h2 font-weight-bold pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Are you Sure</p>
                                                <div class="cont"><span class="mx-2"><input type="checkbox" value="Yes"><p class="lead d-inline">Yes</p></span>
                                                <span class="mx-2"><input type="checkbox" value="No"><p class="lead d-inline">No</p></span>
                                            </div>
                                                <button class="btn btn-danger w-25 rounded mt-2" onclick="vfs_submit()">Click Here</button>
                                            </div>
                                    </div>
                                    <div class="row vfs-sure d-none">
                                        <div class="col">
                                                <p class="h2 font-weight-bold pt-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">VFS is Scheduled</p>
                                                <p class="lead">We Will Contact You Soon</p>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    
                </div>
            </section>

<section class="training-details py-5">
    <div class="container text-center">
            <p class="h3 font-weight-bold text-light">Training Details</p>   
            <hr class="w-25">
        <div class="row justify-content-center align-self-center">
            <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                <img src="/images/t1.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Fundamentals of organic farming( Mode: Video)</p>
            </div>
            <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                    <img src="/images/t2.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Managing Soil Health(Mode: Video || Certification: Yes || Level 1)</p>
                </div>
                <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                        <img src="/images/t3.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Garden, field tillage & cultivation(Mode: Video || Level 1)</p>
                    </div>
        </div>
    </div>
</section>

<section class="training-details pb-3">
        <div class="container text-center">
            <div class="row justify-content-center align-self-center px-0">
                <div class="col-lg-4 col-md-6 border border-danger" style="background: white;">
                    <img src="/images/t4.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Propagation & Greenhouse management(Mode: Video || Certification: Yes || Level 2)</p>
                </div>
                <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                        <img src="/images/t5.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Transplanting & Direct Seeding(Mode: Video + Workshop by VFS || Certification: Y || Level 2) Click to register for workshop</p>
                    </div>
                    <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                            <img src="/images/t11.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Irrigation principles(Mode: Video || Certification: Yes || Level 1)</p>
                        </div>
            </div>
        </div>
    </section>

    <section class="training-details pb-3">
            <div class="container text-center">
                <div class="row justify-content-center align-self-center px-0">
                    <div class="col-lg-4 col-md-6 border border-danger" style="background: white;">
                        <img src="/images/t6.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Selecting & Using over crops(Mode: Video + Workshop by VFS || Certification: Y || Level 2) Click to register for workshop</p>
                    </div>
                    <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                            <img src="/images/t7.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Making and using compost(Workshop by VFS || Certification: Y || Level 2) Click to register for workshop</p>
                        </div>
                        <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                                <img src="/images/t8.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Pest Management(Mode: Video || Certification: Yes ||Level 3)</p>
                            </div>
                </div>
            </div>
        </section>
        <section class="training-details pb-3">
                <div class="container text-center">
                    <div class="row justify-content-center align-self-center">
                        <div class="col-lg-2 col-md-6 border border-danger">
                            </div>
                        <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                                <img src="/images/t9.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Interpreting soil test reports(Mode: Video || Certification: Yes ||Level 3)</p>
                            </div>
                            <div class="col-lg-4 col-md-6 border border-danger px-0" style="background: white;">
                                    <img src="/images/t10.jpg" class="img-fluid w-100 d-block" alt=""><p class="lead font-weight-bold w-100 d-block">Digital marketing(Mode: Video || Certification: Yes || Level 2)</p>
                                </div>
                            <div class="col-lg-2 col-md-6 border border-danger">
                                    </div>
                    </div>
                </div>
            </section>

<section class="t-in-d py-5">
    <div class="container">
        <div class="tt-overlay">
                <div class="space py-4 my-4">&nbsp;</div>
            <div class="row text-center justify-content-center">
                
                <div class="col-md-7 align-self-center">
                        <div id="carouselExampleControls text-center justify-content-center" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                        <div class="container">
                                            <div class="row">
                                                    <div class="col-md-1 col-sm-12"></div>
                                                    <div class="col-md-5 col-sm-12">
                                                        <div class="card" style="width: 16rem;">
                                                            <img src="/images/t10.jpg" class="card-img-top" alt="...">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Digital marketing</h5>
                                                                <p class="card-text">Digital marketing(Mode: Video || Certification: Yes || Level 2)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12">
                                                        <div class="card" style="width: 16rem;">
                                                            <img src="/images/t2.jpg" class="card-img-top pb-3" alt="...">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Managing soil health<br/></h5>
                                                                <p class="card-text">Managing Soil Health(Mode: Video || Certification: Yes || Level 1) <br/></p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-sm-12"></div>
                                            </div>
                                        </div>
                                    </div>
                                  <div class="carousel-item">
                                        <div class="container">
                                                <div class="row">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-5">
                                                            <div class="card" style="width: 16rem;">
                                                                <img src="/images/t4.jpg" class="card-img-top" alt="...">
                                                                <div class="card-body">
                                                                    <h5 class="card-title">Greenhouse Management</h5>
                                                                    <p class="card-text">Propagation & Greenhouse management(Mode: Video || Certification: Yes || Level 2)</p>
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="card" style="width: 16rem;">
                                                                <img src="/images/t8.jpg" class="card-img-top pb-3" alt="...">
                                                                <div class="card-body">
                                                                    <h5 class="card-title">Pest Management</h5>
                                                                    <p class="card-text">Pest Management(Mode: Video || Certification: Yes ||Level 3)<br/></p>
                                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                    </div>
                                            </div>    
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                </div>
            </div>
                <div class="col-md-5 align-self-center">
                    <p class="display-2 font-weight-bold text-dark">Trainings in demand</p>
                </div>
                
            </div>
            <div class="space py-4 my-4">&nbsp;</div>
        </div>
    </div>
</section>
<!--
<section class="uploads py-4">
    <p class="h2 font-weight-bold pb-2 pt-5 text-center" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Trainings Offered</p>
    <hr class="hr w-50" style="color: tomato; background: black;">
    <div class="container my-3 text-center">
            <div class="pottery row d-none justify-content-center my-3">
                <div class="col-md-1"></div>
                <div class="col-md-3 col-sm-4">
                    <div class="card" style="width: 16rem;">
                            <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-success d-inline">Online</a>
                                <a href="#" class="btn btn-warning d-inline">Offline</a>
                            </div>
                        </div>
                </div>
                <div class="col-md-3 col-sm-4">
                        <div class="card" style="width: 16rem;">
                                <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-success d-inline">Online</a>
                                <a href="#" class="btn btn-warning d-inline">Offline</a>
                            </div>
                            </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                            <div class="card" style="width: 16rem;">
                                    <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-success d-inline">Online</a>
                                <a href="#" class="btn btn-warning d-inline">Offline</a>
                             </div>
                                </div>
                        </div>
                <div class="col-md-1"></div>
            </div>

            <div class="stitching row d-none justify-content-center my-3">
                    <div class="col-md-1"></div>
                    <div class="col-md-3 col-sm-4">
                        <div class="card" style="width: 16rem;">
                                <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-success d-inline">Online</a>
                                    <a href="#" class="btn btn-warning d-inline">Offline</a>
                                 </div>
                            </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                            <div class="card" style="width: 16rem;">
                                    <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-success d-inline">Online</a>
                                <a href="#" class="btn btn-warning d-inline">Offline</a>
                             </div>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <div class="card" style="width: 16rem;">
                                        <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-success d-inline">Online</a>
                                <a href="#" class="btn btn-warning d-inline">Offline</a>
                            </div>
                                    </div>
                            </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="others row d-none justify-content-center my-3">
                        <div class="col-md-1" ></div>
                        <div class="col-md-3 col-sm-4">
                            <div class="card" style="width: 16rem;">
                                    <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-success d-inline">Online</a>
                                <a href="#" class="btn btn-warning d-inline">Offline</a>
                             </div>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <div class="card" style="width: 16rem;">
                                        <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-success d-inline">Online</a>
                                            <a href="#" class="btn btn-warning d-inline">Offline</a>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                    <div class="card" style="width: 16rem;">
                                            <img src="/images/hero.jpg" class="card-img-top img-fluid" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                <a href="#" class="btn btn-success d-inline">Online</a>
                                                <a href="#" class="btn btn-warning d-inline">Offline</a>
                                            </div>
                                        </div>
                                </div>
                        <div class="col-md-1"></div>
                    </div>
           
        <div class="row">
            <div class="col-md-4"><button class="btn btn-warning w-100 border rounded border" onclick="pottery()">Pottery</button></div>
            <div class="col-md-4"><button class="btn btn-danger w-100 border rounded" onclick="stitch()">Stitching</button></div>
            <div class="col-md-4"><button class="btn btn-success w-100 border rounded" onclick="oth()">Others</button></div>
        </div>
    </div>
</section>
-->

<section class="training-details py-3">
    <div class="container text-center">
            <p class="h3 font-weight-bold text-light">Sector Related Video</p>   
            <hr class="w-25">
    <div class="row justify-content-center py-3">
        <div class="col align-self-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NBEp--rytMo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
</section>
