<section class="navbar-head">
        <nav class="navbar navbar-expand-md navbar-light py-3">
            <div class="container">
                <a href="/" class="navbar-brand" style="text-decoration: none;"><img src="/images/001.png" alt="" srcset="" width="7%" class="px-2">Naari Saarthi</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto w-100">
                        <li class="nav-item pl-2"><a href="/" class="nav-link">Home</a></li>
                        <li class="nav-item pl-2"><a href="#" class="nav-link">Recruiters Dashboard</a></li>
                        <li class="nav-item pl-2"><a href="/users/login" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="/users/register" class="nav-link">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="hero-area" style="height: 100vh;">
        <div class="container text-center">
            <div class="overlay">
                <div class="row w-100 justify-content-center p-4">
                    <div class="py-5"></div>
                    <div class="col-md-3 align-self-center">
                        </div>
                    <div class="col-md-6 align-self-center pl-5" data-aos="fade-up"> 
                        <img class="pt-5 mt-4" src="/images/woman.png" alt="" srcset="" width="30%">
                        <h3 class=" display-2 font-weight-bold">Naari Saarthi</h3>
                        <p class="lead font-weight-normal">Empowering Women Empowering India</p>
                        <div class="arrow-down pt-4"><i class="fas fa-chevron-down fa-2x"></i></div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="py-5"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="flashads py-2">
            <marquee width="100%" direction="left" height="240px">
                <img src="/images/rs.jpg" alt="" width="20%" class="px-4"> <img src="/images/mrs2.jpg" alt="" class="px-4">
                <img src="/images/DeIBlflUwAAwYKe.jpg" alt="" class="px-4" width="18%"><img src="/images/rs3.jpg" alt="" class="px-4" width="30%"> <img src="/images/rs4.jpg" alt="" class="px-4" width="18%"> 
            </marquee>
    </section>
    <section class="des-not">
            <section class="description">
                <div class="container w-100 text-left">
                    <div class="row pt-5 mt-3 justify-content-center">
                        <div class="col-md-4 align-self-center">
                            <img src="/images/our-vision.png" alt="" width="100%">
                        </div>
                        <div class="col-md-8 align-self-center">
                            <h2 class="font-weight-bold p-1">Our Vision</h2>
                            <p class="lead font-weight-normal">This website provides an avenue for the women of rural and semi-rural areas to take the deep dive into the 
                                    ocean of opportunities that have been identified for them. It makes them audience to a plethora of knowledge emanating content 
                                    as well as give a wing to their dreams through the entrepreneurship corner. This website encompasses most of the needs of the 
                                    rural women by catering to their financial income as well through an exclusive seller’s corner. This is a one stop solution for 
                                    all that is needed for rural India to experience the brightest days ahead.</p>
                        </div>
                        <hr width="30%">
                    </div>
                </div>
            </section>
            <aside class="mt-5 text-center ">
                <img src="/images/bell.png" width="15%" alt="" id="Notification" class="pt-3">
                <h3 class="font-weight-bold">Notice</h3>
                <ul class="list-group p-2">
                    <li class="list-group-item my-2">Notices And Updates Coming Soon</li>
                    <li class="list-group-item my-2">Notices And Updates Coming Soon</li>
                </ul>
            </aside>
        </section>

    <section class="achieve my-5 py-5">
        <div class="container text-center justify-content-center">
                <h3 class="font-weight-bold py-2">
                Sucess Stories
                    </h3>    
            <div class="row justify-content-center align-item-center">
                <div class="col-md-3 align-self-center">
                    <div class="card" style="width: 18rem;">
                        <img src="/images/kalpana.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Kalpana Saroj</h5>
                            <p class="card-text">The success story of Kalpana Saroj, CEO, Kamani Tubes</p>
                        </div>
                        </div>
                </div>
                <div class="col-md-3 align-self-center">
                        <div class="card" style="width: 18rem;">
                                <img src="/images/rajas.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Women of Rajasthan</h5>
                                    <p class="card-text">Women in Rajasthan sell their yields directly in open market thereby removing middlemen intervention and avoiding a cut down in their profit</p>
                                </div>
                        </div>
                 </div>
                 <div class="col-md-3 align-self-center">
                        <div class="card" style="width: 18rem;">
                                <img src="/images/ekta.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Ekta Janu</h5>
                                    <p class="card-text">Ekta Jaju, Founder and CEO, ONganic Foods Pvt. Ltd, has displayed unparalleled passion about organic farming and its impact on small holder farmers in East India </p>
                                </div>
                        </div>
                 </div>
                 <div class="col-md-3 align-self-center">
                        <div class="card" style="width: 18rem;">
                                <img src="/images/daily.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Women who changed their daily lives.</h5>
                                    <p class="card-text">A success story on how women increased their daily earnings by selling pulp extracts to Ice Cream manufacturing units</p>
                                </div>
                        </div>
                 </div>
    
            </div>

        </div>
    </section>
    
    <section class="partnerships my-5 py-5 text-center" data-aos="fade-up">
            <div class="display-4 font-weight-bold my-4">Our Partners</div>
            <hr class="w-25">    
            <div class="container">
                    <div class="row text-center">
                        <div class="col-md-4 align-self-center">
                                <p class="lead font-weight-bold mt-2">Food & Agro.</p>
                            <div class="row">
                                
                                <div class="col-md-6 align-self-center">
                                    <img src="/images/pn.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-6 align-self-center">
                                        <img src="/images/br.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                        
                            <div class="col-md-4 align-self-center">
                                    <p class="lead font-weight-bold">Textile</p>
                                <div class="row">
                                    
                                    <div class="col-md-6 align-self-center">
                                        <img src="/images/ok.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 align-self-center">
                                            <img src="/images/ele.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center">
                                    <p class="lead font-weight-bold">Forestry</p>
                                <div class="row">
                                    
                                    <div class="col-md-6 align-self-center">
                                        <img src="/images/gk.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 align-self-center">
                                            <img src="/images/rope.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
    </section>

    <section id="meet-team" class=" pt-5 pb-2 text-center">
            <div class="container p-3">
                <div class="row justify-content-center align-item-center">
                    <div class="info-header mb-5">
                        <p class="h2 font-weight-normal">Meet The Authors</p>
                        <p class="lead">
                            We believe in what we create!
                        </p>
                        <hr width="30%">
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-4 col-md-6 p-1">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/ivy.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                                    <h4>Ivy</h4>
                                    <p>She is a person of absolutely amazing creativity who takes care of all the designs and aesthetics in the website, presentation. 
                                        She has the ability to convert all her imagination in a piece of paper.</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-facebook fa-2x"></i></a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-linkedin fa-2x"></i></a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-instagram fa-2x"></i></a>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-1">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/himadri.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                                    <h4>Himadri</h4>
                                    <p>A true leader, who can maintain excellent co-ordination among the team members. At times he becomes strict to control the team, and can also takes the entire responsibilities during hard times.<br/></p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-facebook fa-2x"></i></a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-linkedin fa-2x"></i></a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-instagram fa-2x"></i></a>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-1">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/shahveer.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                                    <h4>Shahveer</h4>
                                    <p>The finance nerd who takes care of all the financial analysis along with the impact of all the strategies we try to implement in any project.<br /><br /></p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-facebook fa-2x"></i></a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-linkedin fa-2x"></i></a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#" ><i class="fab fa-instagram fa-2x"></i></a>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section id="meet-team" class=" pb-5  text-center">
                <div class="container p-3">
                    <div class="row justify-content-center align-item-center">
                        <div class="info-header mb-5">
                            <hr width="30%">
                        </div>
                        <div class="row p-1">
                            <div class="col-lg-6 col-md-6 p-1">
                                <div class="card mx-5">
                                    <div class="card-body">
                                        <img src="/images/debjyoti.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                                        <h4>Debojyoti</h4>
                                        <p>The man with a brain which storms for various strategies at any condition and supply the team with excellent content.
                                                He can crack jokes at odd times to keep the team spirit high.</p>
                                        <div class="d-flex flex-row justify-content-center">
                                            <div class="p-4">
                                                <a href="#" ><i class="fab fa-facebook fa-2x"></i></a>
                                            </div>
                                            <div class="p-4">
                                                <a href="#" ><i class="fab fa-linkedin fa-2x"></i></a>
                                            </div>
                                            <div class="p-4">
                                                <a href="#" ><i class="fab fa-instagram fa-2x"></i></a>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 p-1">
                                <div class="card mx-5">
                                    <div class="card-body">
                                        <img src="/images/indrayudh.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                                        <h4>Indrayudh</h4>
                                        <p>The man who tries his best and often become successful to connect the dots.<br/><br/></p>
                                        <div class="d-flex flex-row justify-content-center">
                                            <div class="p-4">
                                                <a href="#" ><i class="fab fa-facebook fa-2x"></i></a>
                                            </div>
                                            <div class="p-4">
                                                <a href="#" ><i class="fab fa-linkedin fa-2x"></i></a>
                                            </div>
                                            <div class="p-4">
                                                <a href="#" ><i class="fab fa-instagram fa-2x"></i></a>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
